@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins|Rubik:300,400,900|Shadows+Into+Light&display=swap&subset=latin-ext");
.pf-fdc-setting {
  font-weight: 300;
  font-family: Poppins;
  font-size: .7rem;
}

.pf-fdc-setting input[type="text"]::-webkit-input-placeholder {
  color: #CED6E0;
}

.pf-fdc-setting input[type="text"]:-ms-input-placeholder {
  color: #CED6E0;
}

.pf-fdc-setting input[type="text"]::-ms-input-placeholder {
  color: #CED6E0;
}

.pf-fdc-setting input[type="text"]::placeholder {
  color: #CED6E0;
}

.pf-fdc-setting input[type="text"] {
  border-radius: 0;
  border: 1px solid #ddd;
  min-height: 26px;
}

.pf-fdc-setting .loading-overlay {
  display: none;
  background: rgba(255, 255, 255, 0.67);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
}

.pf-fdc-setting .loading-overlay-image-container {
  display: none;
  position: fixed;
  z-index: 7;
  top: 50%;
  left: calc( 50% + 25px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pf-fdc-setting .loading-overlay-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: fixed;
}

.pf-fdc-setting .button-primary {
  background: #4563B8;
  border-color: #3b58ab #324c98 #324c98;
  -webkit-box-shadow: 0 1px 0 #324c98;
          box-shadow: 0 1px 0 #324c98;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #324c98, 1px 0 1px #324c98, 0 1px 1px #324c98, -1px 0 1px #324c98;
}

.pf-fdc-setting .button-primary.focus, .pf-fdc-setting .button-primary.hover, .pf-fdc-setting .button-primary:focus, .pf-fdc-setting .button-primary:hover {
  background: #5b78ca;
  border-color: #4563B8;
}

.pf-fdc-setting .button-primary.active, .pf-fdc-setting .button-primary.active:focus, .pf-fdc-setting .button-primary.active:hover, .pf-fdc-setting .button-primary:active {
  background: #3956a7;
  border-color: #3552a5;
  -webkit-box-shadow: inset 0 2px 0 #36519c;
          box-shadow: inset 0 2px 0 #36519c;
}

.pf-fdc-setting .button-primary.focus, .pf-fdc-setting .button-primary:focus {
  -webkit-box-shadow: 0 1px 0 #4563B8, 0 0 2px 1px #6d86ce;
          box-shadow: 0 1px 0 #4563B8, 0 0 2px 1px #6d86ce;
}

.pf-fdc-setting .pf-buttons .bmc-button {
  display: inline-block;
  -webkit-animation: fdc-wiggle 5s infinite;
          animation: fdc-wiggle 5s infinite;
  margin-top: 12px !important;
}

.pf-fdc-setting .pf-buttons .bmc-button .tiptext {
  font-size: 11px;
  font-family: Poppins;
  line-height: 15px;
  padding: 10px;
}

.pf-fdc-setting .pf-buttons .bmc-button img {
  /* animation-play-state: running;display: inline-block; */
}

.pf-fdc-setting .pf-buttons .bmc-button:hover img {
  /* animation-name: fdc-shake;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite; */
}

@-webkit-keyframes fdc-wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fdc-wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.pf-fdc-setting .hidden {
  display: none !important;
}

.fdc-footer-bottom {
  text-align: center;
}

.fdc-footer-bottom .button-primary {
  height: auto;
  padding: 10px 35px;
}

.pf-fdc-setting .pf-header-inner h1 {
  font-weight: 900;
  font-family: Rubik;
  text-transform: UPPERCASE;
  font-size: 2rem;
}

.pf-fdc-setting .pf-header-inner h1 img {
  vertical-align: middle;
  position: relative;
  top: -3px;
  left: -21px;
}

.pf-fdc-setting .pf-header-inner h1 .fdc-sub-title {
  font-size: 12px;
  color: gray;
  font-weight: 300;
  position: relative;
  top: -15px;
}

.pf-fdc-setting .pf-header-inner h1 .fdc-sub-title img {
  top: 0;
  right: 0;
  left: 0;
}

.pf-fdc-setting .pf-field-image_select .pf--active {
  border-color: #4563B8;
}

.pf-fdc-setting .pf-field-image_select .pf--image:before {
  background-color: #4563B8;
}

.pf-fdc-setting.pf-options .pf-header .pf-header-inner {
  background: transparent;
  padding: 50px 25px;
}

.pf-fdc-setting .pf-footer {
  padding: 0px;
  background: #D0D5DB;
}

.pf-fdc-setting .pf-container {
  background: #fff url(../images/stars-title-bg.png);
  margin: 55px 45px;
  -webkit-box-shadow: 0 2px 8px rgba(154, 154, 154, 0.1);
          box-shadow: 0 2px 8px rgba(154, 154, 154, 0.1);
  border: 1px solid #f0f0f0;
  position: relative;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper {
  border-bottom: 1px solid #f5f7f8;
  padding-top: 0;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li:first-child .nav-tab {
  margin-left: 25px;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab {
  padding: 5px 20px;
  margin-left: 15px;
  border: 1px solid #f5f7f8;
  position: relative;
  top: 4px;
  background: #fff;
  font-weight: 300;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab.nav-tab-active {
  border-bottom: 2px solid #fdfdfd;
  background: #fdfdfd;
  position: relative;
  top: 2px;
  padding: 6px 20px;
  height: 44px;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab.nav-tab-active:before, .pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab.nav-tab-active :after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab.nav-tab-active:before {
  border-width: 0.5em;
  border-right-color: #4563B8;
  border-top-color: #45B888;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab.nav-tab-active i {
  color: #000;
  background: -webkit-linear-gradient(#4563B8, #45B888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper > li .nav-tab:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper .fdc-tab-delete {
  float: right;
  margin-right: 20px;
}

.pf-fdc-setting .pf-container .nav-tab-wrapper .fdc-tab-delete i {
  padding-right: 0;
}

.pf-fdc-setting .pf-sections .pf-section {
  margin-top: 0 !important;
}

.pf-fdc-setting .pf-field-accordion {
  padding: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-field-fieldset .pf-fieldset-content {
  background: #fdfdfd;
}

.pf-fdc-setting .pf-field-accordion .pf-field-fieldset .pf-fieldset-content.inline-fields {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pf-fdc-setting .pf-field-accordion .pf-field-fieldset .pf-fieldset-content.inline-fields .pf-field {
  padding-left: 0;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-fieldset, .pf-fdc-setting .pf-field-accordion .class-meta_value_paragraphs .pf-fieldset, .pf-fdc-setting .pf-field-accordion .class-size_word .pf-fieldset, .pf-fdc-setting .pf-field-accordion .class-description_tag .pf-fieldset {
  overflow: hidden;
}

.pf-fdc-setting .pf-field-accordion .fdc-overflow .pf-fieldset {
  overflow: hidden;
}

.pf-fdc-setting .pf-field-accordion .pf-fieldset .pf-fieldset-content {
  background: #fdfdfd;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-item {
  margin-bottom: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-item > h4.pf-accordion-title {
  display: none;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-content {
  padding: 10px 0;
  background: #fdfdfd;
  border-left: 0;
  border-right: 0;
  padding-bottom: 0;
  min-height: 350px;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-content > .pf-field {
  padding: 15px 30px;
  background: #fdfdfd;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-content .pf-field-heading {
  font-size: .9rem;
  background: #fff;
  margin-top: 50px;
  color: #4a4a4a;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-content .fdc_wrap_output {
  border-top: 0;
  padding: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-accordion-content .pf-field-tag .tag-editor input {
  min-height: 20px;
  height: 20px;
}

.pf-fdc-setting .pf-field-accordion .fdc-no-overflow .pf-fieldset {
  overflow: unset;
}

.pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--button {
  margin-bottom: 5px;
  border: 1px solid #ececec;
}

.pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--button:first-child, .pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--button:last-child {
  border-radius: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--button:not(:first-child) {
  margin-left: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--active {
  border-color: #3f58a0;
  background-color: #4563B8;
  overflow: hidden;
}

.pf-fdc-setting .pf-field-accordion .pf-field-button_set .pf--active:before {
  content: '✔';
  position: absolute;
  top: -4px;
  right: 0px;
  font-size: 9px;
  color: #6c89da;
  width: 10px;
  height: 14px;
  /* overflow: hidden; */
  background: #2f4ea7;
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:nth-child(1) {
  background-color: #4267B2;
  border-color: #375694;
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:nth-child(2) {
  background-color: #1DA1F2;
  border-color: #167AB8;
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:nth-child(3) {
  border-color: #AC1E34;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:nth-child(4) {
  background-color: #FF0000;
  border-color: #bb0303;
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:nth-child(5) {
  background: #f50;
  background: -webkit-gradient(linear, left top, left bottom, from(#f70), to(#f30));
  background: linear-gradient(#f70, #f30);
  border-color: #c55c00;
}

.pf-fdc-setting .pf-field-accordion .class-social_embed .pf--active:before {
  content: '✔';
  color: #989898;
  background: #292929;
}

.pf-fdc-setting .pf-field-accordion .class-config_multilevel .pf-field-subheading .pf-text-desc {
  margin-bottom: 0;
}

.pf-fdc-setting .pf-field-accordion .pf-title h4 {
  color: #9dacbf;
  font-size: .8rem;
}

.pf-fdc-setting .pf-field-accordion .pf-text-subtitle {
  color: #bdbdbd;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random {
  padding-bottom: 0 !important;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-title h4 {
  margin-bottom: 8px;
  font-weight: 700;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher {
  /* margin-right: 40px; */
  width: 20%;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--switcher {
  height: 30px;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--ball {
  height: 22px;
  width: 35px;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--on, .pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--off {
  line-height: 30px;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--switcher {
  background: #45B888;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--switcher.pf--active {
  background: #4563b8;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field-switcher .pf--switcher.pf--active .pf--ball {
  margin-left: -40px;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .pf-field:first-child {
  border-right: 1px solid #f9f9f9;
}

.pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .inline-fields > div:nth-child(3), .pf-fdc-setting .pf-field-accordion .fdc_extact_or_random .inline-fields > div:nth-child(2) {
  margin-left: 4.9%;
}

.pf-fdc-setting .pf-field-accordion .fdc_two_colors .pf--switcher {
  background: #45B888;
}

.pf-fdc-setting .pf-field-accordion .fdc_two_colors .pf--switcher.pf--active {
  background: #4563b8;
}

.pf-fdc-setting .pf-field-accordion .fdc-meta-repeat > .pf-title {
  display: none;
}

.pf-fdc-setting .pf-field-accordion .fdc-meta-repeat > .pf-fieldset {
  margin-left: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .class-meta_type {
  padding: 5px 20px;
}

.pf-fdc-setting .pf-field-accordion .class-meta .class-meta_type .pf-title {
  line-height: 28px;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-item .pf-field:nth-child(2) {
  border-top: 1px solid #f3f3f3;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-item .inline-fields .pf-field {
  border-top: 0;
  padding-top: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .class-user_meta_value_numbers .pf-field:nth-child(2) {
  border-top: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-text-desc, .pf-fdc-setting .pf-field-accordion .class-meta .pf-text-subtitle {
  margin-bottom: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-field-fieldset {
  padding-bottom: 10px;
}

.pf-fdc-setting .pf-field-accordion .class-meta .fdc_meta_date_fix .pf-field-date {
  padding-bottom: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .fdc_meta_date_fix .class-format .pf-fieldset {
  clear: both;
  margin-left: 0;
}

.pf-fdc-setting .pf-field-accordion .class-meta .class-meta_type {
  background: #f7f7f7;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-item {
  margin-bottom: 20px;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-helper i {
  display: inline-block;
  cursor: pointer;
  color: #dadada;
  padding: 6px;
  background: #4563b8bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-helper i:hover {
  color: #fff;
}

.pf-fdc-setting .pf-field-accordion .class-meta .pf-repeater-helper {
  vertical-align: top;
}

.pf-fdc-setting .pf-field-accordion .chosen-container .chosen-results li.highlighted {
  background-color: #4563B8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #4563B8), color-stop(90%, #4563B8));
  background-image: linear-gradient(#4563B8 20%, #4563B8 90%);
  color: #fff;
}

.pf-fdc-setting .pf-field-accordion .class-delete_type .chosen-container.chosen-container-single {
  width: 350px !important;
}

.pf-fdc-setting .pf-field-accordion .class-title_size .pf--unit {
  width: 200%;
}

.pf-fdc-setting .pf-field-accordion .class-text_verification .fdc-input-alert {
  outline: 1px solid red;
}

.pf-fdc-setting .pf-field-accordion .pf-submessage-success > div {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.pf-fdc-setting .pf-field-accordion .pf-submessage-success:hover > div {
  margin-left: 10px;
}

.pf-fdc-setting .class-integrate .class-config_yuzo .pf-fieldset-content {
  border: 1px solid #f3f3f3;
}

.pf-fdc-setting .class-integrate .class-config_yuzo .pf-fieldset-content .ui-widget-content input[type="number"] {
  width: 80px;
}

.pf-fdc-setting .class-integrate .class-config_yuzo .pf-fieldset-content .inline-fields {
  border: 0;
}

.pf-fdc-setting .class-integrate .class-config_yuzo .pf-field-subheading {
  font-weight: 300;
}

.toplevel_page_fdc-setting > .wp-menu-image:before {
  content: '';
  width: 19px;
  height: 25px;
  top: 8px;
  background-size: contain;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  position: relative;
  -webkit-filter: hue-rotate(45deg);
          filter: hue-rotate(45deg);
}

.toplevel_page_fdc-setting #wpcontent {
  background: radial-gradient(#ffffff 3px, transparent 4px), radial-gradient(#fffdfd 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #e6efff 75px, #eeecff 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #f8f7ff 76px, #f4f5ff 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.toplevel_page_fdc-setting #wpfooter img {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.toplevel_page_fdc-setting #wpfooter #footer-upgrade {
  font-size: 15px;
  position: relative;
  top: -10px;
}

.toplevel_page_fdc-setting #wpfooter #footer-upgrade strong {
  font-weight: 700;
}

.toplevel_page_fdc-setting #wpfooter #footer-upgrade .fdc-tooltip .tiptext {
  font-size: 12px;
  padding: 10px;
}

.toplevel_page_fdc-setting #wpfooter .fdc-fives {
  display: inline-block;
  position: relative;
  top: 7px;
  left: 10px;
  opacity: .5;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.toplevel_page_fdc-setting #wpfooter .fdc-fives .dashicons:before {
  font-size: 17px;
}

.toplevel_page_fdc-setting #wpfooter .fdc-fives:hover {
  opacity: 1;
}

.toplevel_page_fdc-setting #wpfooter .fdc-admin-footer-separate {
  margin: 0 0px 0 11px;
  color: #eaeaea;
}

.toplevel_page_fdc-setting .fdc-admin-credit {
  font-weight: 500;
  font-family: 'Shadows Into Light', cursive;
  font-size: 17px;
  font-family: 'Shadows Into Light', cursive;
}

.toplevel_page_fdc-setting .fdc-admin-heart {
  font-size: 20px;
  position: relative;
  top: 2px;
  color: #4563B8;
  text-shadow: 1px 1px 1px #3b59af;
}

.toplevel_page_fdc-setting .pf-datepicker-wrapper .ui-widget-header, .toplevel_page_fdc-setting .pf-datepicker-wrapper .ui-datepicker-header {
  color: #fff;
  background: #3B5BDB;
}

.toplevel_page_fdc-setting input[type=checkbox]:focus, .toplevel_page_fdc-setting input[type=color]:focus, .toplevel_page_fdc-setting input[type=date]:focus, .toplevel_page_fdc-setting input[type=datetime-local]:focus, .toplevel_page_fdc-setting input[type=datetime]:focus, .toplevel_page_fdc-setting input[type=email]:focus, .toplevel_page_fdc-setting input[type=month]:focus, .toplevel_page_fdc-setting input[type=number]:focus, .toplevel_page_fdc-setting input[type=password]:focus, .toplevel_page_fdc-setting input[type=radio]:focus, .toplevel_page_fdc-setting input[type=search]:focus, .toplevel_page_fdc-setting input[type=tel]:focus, .toplevel_page_fdc-setting input[type=text]:focus, .toplevel_page_fdc-setting input[type=time]:focus, .toplevel_page_fdc-setting input[type=url]:focus, .toplevel_page_fdc-setting input[type=week]:focus, .toplevel_page_fdc-setting select:focus, .toplevel_page_fdc-setting textarea:focus {
  border-color: #5774e8;
  -webkit-box-shadow: 0 0 2px #3b5bdbb8;
          box-shadow: 0 0 2px #3b5bdbb8;
}

.toplevel_page_fdc-setting .chosen-container-active .chosen-choices {
  border: 1px solid #3e52c7;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.toplevel_page_fdc-setting .chosen-container-active .chosen-single {
  border: 1px solid #3e52c7;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.toplevel_page_fdc-setting .fdc-tooltip {
  position: relative;
  display: inline-block;
}

.toplevel_page_fdc-setting .fdc-tooltip .fdc-number-obj--separate {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff2e;
}

.toplevel_page_fdc-setting .fdc-tooltip .tiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding-top: 0;
}

.toplevel_page_fdc-setting .fdc-tooltip .tiptext img {
  max-width: 100%;
}

.toplevel_page_fdc-setting .fdc-tooltip .tiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.toplevel_page_fdc-setting .fdc-tooltip:hover .tiptext {
  visibility: visible;
}

.toplevel_page_fdc-setting .fdc-tooltip.top .tiptext {
  margin-left: -100px;
  bottom: 150%;
  left: 50%;
}

.toplevel_page_fdc-setting .fdc-tooltip.top .tiptext::after {
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border-color: #000 transparent transparent transparent;
}

.toplevel_page_fdc-setting .fdc-tooltip.bottom .tiptext {
  margin-left: -60px;
  top: 150%;
  left: 50%;
}

.toplevel_page_fdc-setting .fdc-tooltip.bottom .tiptext::after {
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #2E2E2E transparent;
}

.toplevel_page_fdc-setting .fdc-tooltip.left .tiptext {
  top: -10px;
  right: 110%;
}

.toplevel_page_fdc-setting .fdc-tooltip.left .tiptext::after {
  margin-top: -5px;
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #2E2E2E;
}

.toplevel_page_fdc-setting .fdc-tooltip.right .tiptext {
  top: -5px;
  left: 110%;
}

.toplevel_page_fdc-setting .fdc-tooltip.right .tiptext::after {
  margin-top: -5px;
  top: 50%;
  right: 100%;
  border-color: transparent #2E2E2E transparent transparent;
}

.fdc-popup {
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  min-height: 245px;
  height: 250px;
}

.fdc-popup .fdc-feedback-button-cancel {
  float: right;
}

.fdc-popup .button-fdc-add-review {
  margin-right: 20px;
}

#adminmenu li.current a.menu-top.toplevel_page_fdc-setting {
  background: #000;
}
